/* Reset some default styles */

body, h1, h2, h3, p {
    font-family: 'Schibsted Grotesk', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Schibsted Grotesk', sans-serif;
    line-height: 1.2;
    background: #000000;
  }

  button{
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: medium;
    color: #000000;
  }

  h1 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: large;
    line-height: 1.2;
  }

  mark.grey {
    color: #555;
    background: none;
  }

  h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 600;
    font-size: x-large;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: xx-large;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none; /* Removes the underline */
    color: #000000; /* Sets the color of the hyperlink text (replace #ff0000 with your desired color) */
  }

  .spacer{
    height: 90px;
  }

    /* Media query for smaller viewport widths */
  @media (max-width: 1400px) {
    .spacer {
        height: 145px; /* Increase height for smaller viewports */
    }
  }

  /* Media query for even smaller viewport widths */
  @media (max-width: 800px) {
    .spacer {
        height: 200px; /* Further increase height for even smaller viewports */
    }
  }

  /* Media query for even smaller viewport widths */
  @media (max-width: 600px) {
    .spacer {
        height: 260px; /* Further increase height for even smaller viewports */
    }
  }
  
  header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    color: rgb(252, 252, 252);
    border: 1px solid rgba(255, 255, 255, 0.505);
    border-radius: 30px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    margin: 1rem;
    padding: 7px;
    left: 100px;
  }
  
  footer {
    text-align: right;
    justify-content: right;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #555;
  }

  #logo-container{
    position: fixed;
    z-index: 2000;
    padding: 5px;
    max-width: 150px;
    max-height: 150px;
  }

  #logo-img{
    width: 100%;
    height: auto;
  }


  /* For buttons */
  nav button {
    background-color: transparent;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    border-width: 2px;
    border-color:  #ffffff;
    border-style: solid;
  }
  
  nav button:hover {
    background-color: #555;
  }
  
  nav button:active {
    background-color: #ffffff;
    transform: scale(0.95);
  }

  section {
    padding: 2rem;
  }

  #scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    color: rgb(252, 252, 252);
    border: 1px solid rgba(255, 255, 255, 0.505);
    border-radius: 30px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #scrollToTopBtn:hover {
    background-color: #e88e0c;
  }
  
  /* Flexbox */
  #portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .box {
    flex: 0 0 calc(33.33% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 25px;
    border-radius: 40px;
    background: #ffffff;
  }

  .box a {
    text-decoration: underline;
  }
  
  .project:hover {
    transform: scale(1.025);
  }

  .project:active {
    transform: scale(1);
  }

  .project img {
    max-width: 100%;
  }

  .proj-box {
    flex: 0 0 calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
    padding: 50px;
    border-radius: 40px;
    background: #ffffff;
  }

  .about img {
    min-width: 100px;
    max-width: 500px;
    width: 30vw;
  }

  .abt-img-container{
    width: 100%;
    max-width: 500px;
    height: 30vw;
    max-height: 400px;
    overflow: hidden;
    overflow-anchor: 10%;
    border-radius: 20px;
  }

  .image-container {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    overflow-anchor: 10%;
    border-radius: 20px;
  }

  .text-content {
    margin-left: 3vw; /* Adjust the margin between text and image as needed */
    margin-right: 5vw;
  }

  .proj-text-content{
    margin-left: 10px; /* Adjust the margin between text and image as needed */
    margin-bottom: 5%;
  }

  @keyframes expandingAnimation {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.025);
    }
    75% {
      transform: scale(0.975);
    }
    100% {
      transform: scale(1.0);
    }
  }

  /* Media Query for mobile devices */
  @media (max-width: 768px) {
    header {
      text-align: center;
    }
    
    nav ul {
      justify-content: space-around;
    }
    
    #portfolio {
      flex-direction: column;
    }
    
  }

