/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background: #333;
    color: white;
    text-align: stretch;
    padding: 1rem;
  }
  
  .project img {
    max-width: 100%;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #f39c12;
  }

  /* For buttons */
nav button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  nav button:hover {
    background-color: #555;
  }
  
  section {
    padding: 2rem;
  }
  
  /* Flexbox for portfolio projects */
  #portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  /* Media Query for mobile devices */
  @media (max-width: 768px) {
    header {
      text-align: center;
    }
    
    nav ul {
      justify-content: space-around;
    }
    
    #portfolio {
      flex-direction: column;
    }
    
    .project {
      flex: 1 1 auto;
      margin-right: 0;
    }
  }

