/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Handjet, sans-serif;
    line-height: 1.6;
    background: #000000;
  }

  button{
    font-family: Handjet, sans-serif;
    font-size: medium;
    color: #000000;
  }

  h1 {
    font-family: Handjet, sans-serif;
    font-size: large;
    line-height: 1.2;
  }

  h2 {
    font-family: Handjet, sans-serif;
    font-size: x-large;
    line-height: 1.2;
  }

  h3 {
    font-family: Handjet, sans-serif;
    font-size: xx-large;
    line-height: 1.2;
  }

  a {
    text-decoration: none; /* Removes the underline */
    color: #000000; /* Sets the color of the hyperlink text (replace #ff0000 with your desired color) */
  }

  .spacer{
    height: 90px;
  }

    /* Media query for smaller viewport widths */
  @media (max-width: 1400px) {
    .spacer {
        height: 145px; /* Increase height for smaller viewports */
    }
  }

  /* Media query for even smaller viewport widths */
  @media (max-width: 800px) {
    .spacer {
        height: 200px; /* Further increase height for even smaller viewports */
    }
  }

  /* Media query for even smaller viewport widths */
  @media (max-width: 600px) {
    .spacer {
        height: 260px; /* Further increase height for even smaller viewports */
    }
  }
  
  header {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    color: rgb(252, 252, 252);
    border: 2px solid rgba(75, 75, 75, 0.1);
    border-radius: 30px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    margin: 1rem;
    padding: 7px;
  }
  
  footer {
    text-align: center;
    background: #333;
    color: white;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #555;
  }

  /* For buttons */
  nav button {
    background-color: transparent;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    border-width: 2px;
    border-color:  #ffffff;
    border-style: solid;
  }
  
  nav button:hover {
    background-color: #555;
  }
  
  nav button:active {
    background-color: #ffffff;
    transform: scale(0.95);
  }

  section {
    padding: 2rem;
  }
  
  /* Flexbox */
  #portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .project {
    flex: 0 0 calc(33.33% - 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 30px;
    background: #ffffff;
  }

  .project img {
    max-width: 100%;
  }

  .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    overflow-anchor: 10%;
    border-radius: 20px;
  }

  .text-content {
    margin-right: 5vw; /* Adjust the margin between text and image as needed */
  }

  @keyframes expandingAnimation {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.025);
    }
    75% {
      transform: scale(0.975);
    }
    100% {
      transform: scale(1.0);
    }
  }

  /* Media Query for mobile devices */
  @media (max-width: 768px) {
    header {
      text-align: center;
    }
    
    nav ul {
      justify-content: space-around;
    }
    
    #portfolio {
      flex-direction: column;
    }
    
  }

