/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  h2 {
    font-family: Arial, sans-serif;
    font-size: xx-large;
    font-weight: 200;
    line-height: 1.2;
  }

  .spacer{
    height: 75px;
  }

    /* Media query for smaller viewport widths */
  @media (max-width: 1400px) {
    .spacer {
        height: 125px; /* Increase height for smaller viewports */
    }
  }

  /* Media query for even smaller viewport widths */
  @media (max-width: 800px) {
    .spacer {
        height: 165px; /* Further increase height for even smaller viewports */
    }
  }

  /* Media query for even smaller viewport widths */
  @media (max-width: 600px) {
    .spacer {
        height: 210px; /* Further increase height for even smaller viewports */
    }
  }
  
  header {
    background: #ffffffab;
    backdrop-filter: blur(3px);
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .project img {
    max-width: 100%;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #555;
  }

  /* For buttons */
nav button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  nav button:hover {
    background-color: #555;
  }
  
  nav button:active {
    background-color: #f39c12;
    transform: scale(0.95);
  }

  section {
    padding: 2rem;
  }
  
  /* Flexbox */
  #portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .project {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 25px;
    background: #f39c12;
  }

  @keyframes expandingAnimation {
    0% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.025);
    }
    75% {
      transform: scale(0.975);
    }
    100% {
      transform: scale(1.0);
    }
  }

  /* Media Query for mobile devices */
  @media (max-width: 768px) {
    header {
      text-align: center;
    }
    
    nav ul {
      justify-content: space-around;
    }
    
    #portfolio {
      flex-direction: column;
    }
    
  }

